/* Conf header per totes les pagines */
header {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/* Conf per els textos amb etiqueta a */
header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
/* Conf pel logo de l'empresa per totes les pagines*/
#LogoEmpresa {
    position: absolute; 
    margin: 20px 0 0 20px;
    top: 10px;
    left: 10px;
    width: 70px; 
    height: auto; 
    filter: invert(100%);
    cursor: pointer
    
}

/* configuracio pel body de totes les pagines */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;
}
/* Configuracio del footer per totels les pagines */
footer {
    background: rgba(0, 0, 0, 0.8);
    color: white; 
    text-align: center; 
    padding: 10px; 
    bottom: 0; 
    width: 100%; 
    z-index: 100;
}

/* Configuracio css pel titul de totes les pagines */
#title {
    margin-top: 20px;
}
/* Configuracio css pel apartat amb el id hero, basicament tot */
.hero {
    text-align: center;
    padding: 20px 20px;
    position: relative;
    z-index: 10;
    margin-left: 30%;
    margin-right: 30%;
    line-height: 1.6;
}
/* Mida de la lletra de les lineas h2 */
.hero h2 {
    font-size: 2.5rem;
}
/* Configuració de les seccions content */
.content {
    padding: 20px 20px;
    text-align: center;
    position: relative;
    z-index: 10;
}
/* Configuració css per els apartats cuadrats amb text */
.services {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
/* Configuració css pels diferents apartats dins del service */
.service {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
    width: 170;
}
/* Configuració css dels links dins de service*/
.service li {
    list-style: none; 
}
/* Configuració css per quan poses el ratoli a sobre del link*/
.service li:hover {
    text-decoration: underline;
}
/* Configuració css de les imatges dins de content*/
.content img {
    max-width: 80%; 
    height: auto; 
    display: block;
    margin: 20px auto;
    border-radius: 10px; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
/* Animació d'entrada amb difuminat i moviment desde la dreta */
.fade-in {
    opacity: 0;
    transform: translateX(100px); /* Comienza desde la derecha */
    animation: fadeIn 1s forwards; /* Duración de 1s (1000ms) */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/* Animació de sortida amb difuminat i moviment a la dreta */
.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100px);
    }
}
/* Configuracio per les imatges que hi ha dins de les dues pagines de serveis */
.ImatgeServeis {
    text-align: center;
    width: 700px;
    height: auto;
    padding-bottom: 50px;
}
