body {
  margin: 0;
  font-family: sans-serif;
}

#menu-container {
  /* Buit per defecte */
}

#menuBtn {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 28px;
  background: #0040ff;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1001;
}

#sideMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #0040ff;
  padding-top: 50px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

#sideMenu.open {
  transform: translateX(0);
}

#sideMenu ul {
  list-style: none;
  padding-left: 20px;
}

#sideMenu li {
  margin: 20px 0;
}

#sideMenu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}