* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.header {
    width: calc(100% - 44px);
    background-color: #24950E;
    padding: 40px 20px;
    width: 100%;
    box-sizing: border-box;
}

#menuBtn {
    background: none;      /* Quita el fondo del botón */
    border: none;          /* Quita el borde */
    cursor: pointer;       /* Hace que salga la mano al pasar el ratón */
    padding: 0;            /* Quita espacios internos */
    display: flex;         /* Ayuda a centrar la imagen */
    align-items: center;
}

.btn-logo {
    width: 60px;           /* Ajusta el ancho a tu gusto */
    height: auto;          /* Mantiene la proporción */
    transition: transform 0.3s; /* Por si quieres un efecto al pasar el ratón */
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

/* Opcional: un efecto sencillo cuando pases el ratón por encima */
.btn-logo:hover {
    transform: scale(1.1);
}

.header-content {
    display: flex;
    align-items: center;
    height: 120px;
    padding: 0 32px;
    justify-content: flex-start;
}

.header-menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 36px;
}

.header-avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #eee;
    background: #fff;
    box-shadow: 0 2px 6px rgba(20, 20, 25, 0.10);
}

.header-title {
    color: #fff;
    font-family: 'Impact', Charcoal, sans-serif;
    font-size: 62px;
    font-weight: 400;
    margin: 0;
    flex: 1;
    text-align: center;
    letter-spacing: 1px;
}



footer {
    background-color: #24950E;
    color: white;
    text-align: center;
    padding: 40px 20px;
    margin-top: 60px;
    width: 100%;

}

.transition-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a; /* El color de fondo de tu web */
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Estado cuando la página está cargando */
body.is-transitioning .transition-layer {
    opacity: 1;
}

body.fade-in {
    opacity: 1;
}

/* Clase para la salida */
body.fade-out {
    opacity: 0 !important;
}
